@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}


